* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    width:1250px;
    margin: 0 auto;
}
.color {
    color: #24BA9F;
}

.center {
    width:1024px;
    margin: 0 auto;
}
header{
    width:100%;
    height:40px;
    background: #000;
    color:white;
    display:flex;
    align-items:center;
    font-size:16px;
}

header .center {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-weight:700;
}

.top__menu {
    display: flex;
    flex-direction:row;
    list-style-type:none;
    width:300px;
    justify-content:space-between;
    font-weight:700;
}




.slider {
    width:100%;
    height:500px;
    display:flex;
    flex-direction:row;
    align-items:center;
    background: linear-gradient(white, #C9CCD3);
    position:relative;
}

.arrow {
    width:50px;
    height:300px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.arrow:hover{
    cursor:pointer;
    opacity:0.7;
}

.arrow__left {
    display:block;
    content:"";
    height:40px;
    width:40px;
    border-bottom: 3px solid #24BA9F;
    border-left: 3px solid #24BA9F;
    transform:rotate(45deg);

}

.arrow__right {
    content:"";
    display:block;
    height:40px;
    width:40px;
    border-top: 3px solid #24BA9F;
    border-right: 3px solid #24BA9F;
    transform:rotate(45deg);

}

.slider:after:hover {
   opacity:0.7;
}

.slider .center {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.slider__right__side {
    display:flex;
    width:420px;
    height:250px;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
}

.slider__right__side p {
    text-align:center;
    font-weight:700;
    font-size: 30px;
}

.slider__right__side article {
    text-align:center;
    font-size:14px;
    line-height:22px;
}

.slider__right__side .button {
    width:265px;
    height:50px;
    background: #24BA9F;
    font-size: 20px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:400;
}

.slider__right__side .button:hover {
  opacity:0.7;
}

.slider__right__side a {
    text-decoration:none;
    display:flex;
    color:white;
    justify-content:center;
    align-items:center;
}

.offer {
    height:350px;
    width:100%;
    display:flex;
}

.offer .center {
    padding-top:25px;
    display:flex;
    justify-content:space-between;

}

.offer .center .offer__right {
    padding:10px;
    display:flex;
    height:250px;
    width:340px;
    border: 1px solid #D9D9D9;
    flex-direction: column;
    justify-content: space-around;
    font-size:15px;
}

.offer p:first-child {
    font-weight:700;
    position:relative;
}

.offer .center img {
    height: 225px;
    border: 1px solid #D9D9D9;
    position:relative;
}

.offer .center img:hover {
    opacity:0.9;
    cursor:pointer;
}

.offer__image:before {
    content:"";
    width:328px;
    height:60px;
    background: white;
    opacity:0.4;
    position:absolute;
    left:0;
    bottom:15px;
    z-index:1;
}


.img1:after {
    content:"Chair CLAIR";
    width:140px;
    font-weight:700;
    position:absolute;
    border-bottom:5px solid #24BA9F;
    left:10px;
    bottom:35px;
    z-index:2;
}

.img2:after {
    content:"Chair MARGARITA";
    width:140px;
    font-weight:700;
    position:absolute;
    border-bottom:5px solid #24BA9F;
    left:10px;
    bottom:35px;
    z-index:2;
}

.offer p:first-child:after{
    content:"";
    position:absolute;
    width: 130px;
    border-bottom:5px solid #24BA9F;
    bottom:-5px;
    left:0;
}


.offer__image {
    width:328px;
    height:225px;
    position:relative;
}


.pricing {
    height:720px;
    width:100%;
    background: #F1F1F1;
    display:flex;

}

.pricing .center {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.boxes {
    padding-top:70px;
    width:100%;
    display:flex;
    position:relative;
    justify-content:space-between;
}

.boxes:before {
    content:"CENNIK";
    width:330px;
    border-bottom:7px solid #24BA9F;
    position:absolute;
    font-size:20px;
    top:40px;
    left:0;
}


.box{
    margin-top: 60px;
    padding:30px 0 15px 0;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    width: 330px;
    height: 500px;
    border: 1px solid #D3D3D3;
    text-align: center;
    background: #F9F9F9;
    position:relative;
}

.box:hover{
    background: #24BA9F;
    border: 1px solid #24BA9F;

}

.box:hover .head{
    color:white;
}

.box:hover .bigDot{
    background: #24BA9F;
    border: 1px solid #24BA9F;
}

.box:hover .smallDot {
    background: white;
}

.box:hover .pricing__button {
    background: #fff;
    color: #24BA9F;
}

.box:hover .price__dot {
    border: 1px solid #24BA9F;
    color: #24BA9F;
}

.pricing__button:hover {
    cursor:pointer;
}

.bigDot{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #D3D3D3;
    background-color: #fff;
    position: absolute;
    top: -30px;
    left: calc(50% - 30px);
}
.smallDot{
    display:block;
    width:50%;
    height:50%;
    border-radius:50%;
    background: #D3D3D3;
    position:absolute;
    top:25%;
    left:calc(50% - 25%);
}

.head {
    display: flex;
    height:20px ;
    color: #24BA9F;
    font-size:1.4em;
    font-weight:700;
    text-transform:uppercase;

}

.pricing__button {
    display:flex;
    width:120px;
    height:35px;
    background: #24BA9F;
    color:white;
    font-size: 16px;
    border-radius:10px;
    justify-content:center;
    align-items:center;
    font-weight:400;
}


.price__dot {
    width:130px;
    height:130px;
    border-radius:50%;
    border: 1px solid #D3D3D3;
    background: #fff;
    font-weight:700;
    font-size: 16px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:#D3D3D3;
    padding-bottom:8px;
  }
.price__dot span {
    font-size: 40px;
    padding-left:8px;

}
.price__dot sup {
    font-size: 14px;

}

.price__table {
    height:163px;

}

.price__bar {
    width: 328px;
    height: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.price__table div:nth-of-type(2n+1) {
    background: #E4E4E4;
    color: #909090;
}
.price__table div:nth-of-type(2n) {
    background: #F1F1F1;
    color: #777777;
}


.contact {
    height:550px;
    width:100%;
    position:relative;
}

.contact .center {
    height:100%;
    padding-top:100px;
    position:relative;

}


.contact .center:before {
    content:"KONTAKT";
    width:330px;
    border-bottom:7px solid #24BA9F;
    position:absolute;
    font-size:20px;
    top:40px;
    left:0;
}

.contact form {
    height:400px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.form__left input {
    width:630px;
    height:60px;
    outline:0;
    border: 1px solid #24BA9F;
    font-size:24px;
    color: #24BA9F;
    padding-left:10px;

}
.form__left input::placeholder {
    width:630px;
    outline:0;
    color: #909090;
    font-size: 16px;
    font-weight:300;
    font-family: 'Raleway', sans-serif;
}

.form__left {
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.form__left input:last-child {
    height:190px;
}

.form__right {
    height:100%;
    width: 330px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
}
.accept {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color: #909090;
}

.accept span {
    width: calc(100% - 60px);
}
.accept img {
    border: 1px solid #24BA9F;
}

.accept img:hover {
    opacity:0.8;
    cursor:pointer;
}

.form__right .pricing__button {
    width:345px;
    height:70px;
    font-size:32px;
}
.form__right .pricing__button:hover {
    opacity:0.7;
}
footer {
    height:100px;
    width:100%;
    color: #909090;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
header a {
    text-decoration:none;
    color:white;
}

footer > div {
    width: 360px;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

}

.footer__logo {
    font-size:20px;
}

